.logout_title{
    font-size: 14px;
    color: #191D23;
    line-height: 22px;
}

.logout_modal_wrapper .modal-body {
    padding-top: 0px !important;
}
.logout_modal_wrapper .modal-content {
    border-radius: 20px !important;
}
.logout_modal_wrapper .modal-footer{
   padding-top: 0px !important; 
}
.logout_heading{
    font-weight: 600;
    color: #212B2E;
    margin-top: 26px;
    font-size: 26px;
    font-family: "Open-Sans" ,sans-serif;
}
.logout_wrapper{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    background: #FFF2F3;
    text-align: center;
}
.logout_wrapper svg{
    color: #F41A1A;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
 @media screen  and (max-width:1280px) {
    .logout_heading{
        font-size: 23px;
        margin-top: 23px;
    }
 }
 @media screen  and (max-width:767px) {
    .logout_heading{
        font-size: 20px;
    }
 }