.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.login-container {
  background-color: #fff;
  border-radius: 8px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group input:focus {
  outline: none;
  border-color:#ff5733;;
}

.btn {
  background-color: #e5472c;;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  /* display: block; */
  font-size: 16px;
}

.btn:hover {
  background-color: #ff6e4d;
}
.cmn_btn_color{
  background-color: #ce2128 !important;
  border: none !important;
}
.modal-footer{
  border-top: unset !important;
}
.modal_close_btn{
  background: #333;
}
input.candidate-register-input::placeholder {
  color: #636364
}
select.candidate-register-input.form-control.mt-2 {
  color: #636364;
}
.forget-password{
  float: right;
  color: #ce2128;
}

.register{
  margin-top: 10px;
  color: #636364;
  font-size: 15px;
  text-align: center;
}

.heading{
  color: rgb(66, 65, 65) !important;
  margin-bottom: 10px;
  font-size: 29px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
 
   /* font-family:Georgia, 'Times New Roman', Times, serif */
}

.select-role{
  width: 100%;
  margin-bottom: 15px;
  padding: 3px;
}
button.register-btn {
  border: none;
  padding: 6px 20px;
  border-radius: 8px;
  color: white;
  background: #333;
}


/* header  */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}


.logo {
  display: flex;
  align-items: center;
  
}

.logo-icon {
  width: 90px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  margin-right: 10px;
}

.logo-text {
  margin: 0;
  font-size: 1.2rem;
}

.logout-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #ce2128;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ce2128;
}




/* for modal css  */

.modal-inner{
   
  /* position: absolute; */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  /* background-color: #ed6b4a; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  /* background-color: white; */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 50%; 
  /* margin-left: 14%;  */
position: absolute;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.input-field {
  margin-bottom: 10px;
  display: flex;
}

.input-field input {
  width: calc(100% - 70px); /* Adjust width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-field button {
  width: 60px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #ff5733;
  color: white;
  cursor: pointer;  
}

.input-field button:hover {
  background-color: #df330d;
}

.cross-sign{
  width: 50px;
  float: right;
  margin-top: 5px;
}


/* add language button + */
.ad-language-btn{
  display: flex;
}

.ad-btn{
  height: 25px;
  color: white;
  background-color: #333;
}


/* homepage */
.homepage-outer-div{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
 
}

.createtest-btn{
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #e3bcae;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: rgb(90, 81, 81);
  font-size: 15px;
  font-weight: 500;
 
}
.create-test-btn-wrapper{
  /* background-color:rgb(185, 150, 150) ; */
  padding: 5px; 
  border-radius: 10px;

}


/* testbox modal */
.test-box{
 width: 50%;
  padding: 20px;
  background-color: #ccc;
  border-radius: 10px;
  background-color: rgba(250, 216, 204, 0.4); 
}

.internal-testbox{
  display: flex;
  gap: 10px;
 
}
.internal-testbox button{
  border-radius: 6px;
  border: none;
  padding: 8px;
    margin-right: 4px;
    width: 250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}
.mcq-btn{
  
  background-color:rgb(227, 192, 192);
 
 
}
.subjective-btn{
  
  background-color:rgb(227, 192, 192);

 
}
.logical-btn{
  background-color: rgb(227, 192, 192);
 
}


.mcq-inputs, .subjective-inputs, .logical-inputs {
  margin-bottom: 20px;

}
.add_question_wrapper{
  display: flex;
  justify-content: space-between;

}

.mcq-question, .mcq-options, .subjective-inputs input, .logical-inputs input  {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;

}

.correct-answer-label {
  display: block;
  margin-bottom: 5px;
}

.correct-answer-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-question-btn {
  display: block;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-question-btn:hover {
  background-color: #0056b3;
}

.add-question-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-question-btn:disabled:hover {
  background-color: #ccc;
}
.testbox-textarea{
  padding: 10px;
  width: 95%;
  height: 180px;
  /* min-height: 180px; */
  
  
}
.testbox-textarea-logical{
  padding: 10px;
  width: 95%;
  height: 40px;
}


svg.MdEdit {
  cursor: pointer;

}

/* Sidebar -- */

.sidebar {
  height: 100%;
  width: 200px;
  margin-top: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #eebfb5;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-size: 100px 100px;
}
.cmn_width{
  width: 49px;
}
.cmn_margin{
  margin-left: 49px !important;
}

.bar{
  text-align: right;
  padding-right: 10px;
  font-size: 22px;
  cursor: pointer;
}
.user-table thead tr th {
  font-size: 16px;
}

.sidebar-button {

  margin: 5px;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  
}

.sidebar_content{
  font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 0px;
}

.sidebar-button:hover {
  color: #c22e0a;
  background-color: #fff2f2;
}



/* LanguageModal.css */
.language-modal {
  /* position: fixed;
  width: 40%;
  top: 50%; 
  left: 55%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  
  margin-top: 25px;
  height: 400px;
  overflow-y: scroll;
  scrollbar-width: thin; */
  /* box-shadow: 1px 1px 3px 2px #c22e0a; */

  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.language-modal_outer {
  max-height: 400px;
  overflow-y: scroll;
  gap: 20px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  padding: 18px;
  scrollbar-width: thin;
  border-radius: 9px;
  box-shadow: 1px 1px 13px 2px #d7d4d3;
}
.language-card {
  min-width: 154px;
  background-color: #f0f0f0;

  height: 52px;
  cursor: pointer;
    display: flex;
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    
}
.language-card:hover {
  box-shadow: 1px 1px 13px 2px #d7d4d3;
}

.language-card:hover {
  color: #ce2128;
  ;
}
.user-table tbody tr td{
  color: #464444;
}
.cmn_container{
  background: white;
    padding: 20px;
    border-radius: 10px

}
.invite_btn{
  border: unset;
    border-radius: 4px;
    color: white;
    background: #ce2128;
    padding: 4px 12px;
}
div:where(.swal2-container) h2:where(.swal2-title) {
  font-size: 27px;
}
.modal-content{
  /* box-shadow: 3px 3px 12px 10px #efeeee; */
}
.swal-button-custom button.swal-button.swal-button--confirm {
  background: #ce2128;
}
/* .card-inner{
  background-color:#787777;
 
  color: white;
  
} */
.text-space{
  font-size: 15px;
  margin-bottom: 0px;
}



.add-more-languages-btn{
 
  padding: 10px 39px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  height: 42px;
  background-color: #ce2128;
  border: unset;
  color: white;

}

/* series css */
/* Modal */
.series-modal-overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.series-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 400px;
}

.modal-header {
  text-align: center;
  margin-bottom: 10px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

/* Series Options */
.series-option {

  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}


.close-series{
  float: right;
}


.chooselanguage-heading-sidebar{
  position: fixed;
  height: 20px;
  width: 400px;
  background-color: #0056b3;
  color: white;
  font-size: large;

}

/* *******  HEADINGS OF CREATE TEST FOR SERIES */
.headings{
  display: flex;
  margin-left: 25%;
}

.create-series-heading{
  /* background-color: #0056b3; */
  width: 1000px;
}

.edit-series-button{
 height: 35px;
 width: 150px;
 /* margin-top: 12px; */
 border: none;
 font-size: medium;
 border-radius: 4px;
 background-color: #ff5733;
 color: white;
 cursor: pointer;
 margin-left: 40%;
}


.series-option-new{
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(250, 245, 245);
  color:  white;
  background-color: #ce2128;
  font-size: large;
  font-weight: 400;

}


.series-outer-box{
  background-color: rgb(150, 230, 148);
  border-radius: 10px;
 
}
.series-outer-box-pending{
  border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8f8c8c;
    border: 1px solid #ddd;
    padding: 10px;


}
.series-outer-box-pending:hover{
  border: 1px solid #ce2128;
  color: #ce2128;
  border: 1px solid #ce2128;
  box-shadow: 3px 3px 10px 0px #e3b7b7;
}

/* ****************** EDIT QUESTIONS */



.mcq-question-edit{
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 2%;
  background-color: pink
}


.heading-objective{
  background-color: #0056b3;
  width: 390px;
  margin-left: 19px;
  padding: 2px;
  color: white;
  border-radius: 50px;
  /* text-align: left; */
}

.heading-objective-active{
  background-color: #7db5fe;
  width: 390px;
  margin-left: 19px;
  padding: 2px;
  color: black;
  border-radius: 50px;
}

.outer-edit-question-div{
  /* margin-top: 2%; */
  width: 85%;
  margin-left: 15%;
  height: 550px;
  /* background-color: #0056b3; */
  overflow-y: scroll;
  scrollbar-width: thin;
}

.Update-btn{
  float: right;
  background-color: #0056b3;
  margin-right: 20px;
  color: white;
}

.testbox-textarea-logical-edit{
  padding: 10px;
  width: 95%;
  height: 40px;
  background-color: pink;
  margin-top: 20px;
}

.back-btn svg{
  font-size: 22px;
}


/* *************\  SERIES HEADING */
.sub-obj-log-heading{
  display: flex;
}


/* ****** QUESTIONNARIE  PAGE ****** */

.generatelink-btn{
  height: 35px;
  width: 150px;
  /* margin-top: 12px; */
  border: none;
  font-size: medium;
  border-radius: 4px;
  background-color: #ff5733;
  color: white;
  cursor: pointer;
  margin-left:22%;
}

.questionnarie-heading{
  display: flex;
  margin-left: 30%;
  /* justify-content: center; */
}

.active-btn{
  background-color: rgb(191, 130, 140)
}



/* *************  CANDIDATES DETAILS  */
.wrapper {
  background: #ddd;
  /* background-color: ffeeee; */
  margin-left: 200px;
  padding: 80px 20px 0px;
  height: 100vh;
}



/* ******* Table  */
.table-responsive {
  margin: 20px 0;
}

.user-table th, .user-table td {
  vertical-align: middle;
  text-align: center;
}

.user-table .fa-user {
  margin: 0 auto;
  display: block;
}


/* //******************   REGISTER CANDIDATE MODAL******** */
.candidate-register-input{
  padding: 5px;
  margin-bottom: 7px;
  border-radius: 5px;
  font-size: large;
}






/* ************* CANDIDATE TEST PAGE  */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.app-container {
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.question-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  padding-top: 30px;
  width: 80%;
}
.question-form h2{
  color: #00b2ff;
  background: #f8f6f6;
    padding: 10px;
    border: 1px solid #00b2ff;
    font-size: 24px;
    margin-top: 20px;
}
.logo_img{
  background-color: #aaa4a4;
}


.question-text {
  margin-bottom: 12px;
  color: #333;
  font-size: 19px;
  margin-top: 12px;

}

.options-wrapper {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(231, 240, 243); */
  border-radius: 5px;
}

.option-label {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.option-input {
  margin-right: 10px;
}

.text-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 185px;
}

.submit-button {
  background: #007bff;
  color: white;
  width: 200px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 30px 0px;
}

/* .timer{
  font-size: 29px;
  color: #007bff;
  
} */

/* CSS */
.timer-start {
  background-color: #c2fbd7;
  border-radius: 10px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
  font-size: large;
  font-weight: 600 ;
  margin-left: 45%;
  margin-top: 40px;
}

.timer-start:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* .timer-start{ */
  /* font-size: 29px;
  color: rgb(5, 153, 5);
} */
.Interview_header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.submit-button:hover {
  background: #0056b3;
}
.timer_outer{
  display: flex;
  width: 90px;
  font-size: 20px;
}
.interview-caution{
  background: #f8f6f6;
    padding: 10px;
    border:1px solid #007bff;
    font-size: 18px;
    margin-top: 20px;
}

.regards{
  padding: 10px;
  float: right;
  color: #083a70;
}
.regards-message{
  width: 500px;
  margin-top: 15%;
  margin-left: 35%;
  padding: 10px;
  border: 1px solid green;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (min-width:1499px){
  .wrapper{
    padding: 97px 50px 0px;
  }
}
  
  @media screen and (max-width:991px){
    .language-modal{
      margin-top: 4rem;
      height: 100%;
      
    }
    .language-modal_outer {
      margin-left: 12rem;
      width: 60%;
    }
  }

@media (max-width: 767px) {
  .language-card {
    width: calc(50% - 10px); 
  }
  .internal-testbox{
    display: block
  }
  
  .internal-testbox button{
    width: 100%;
  }
  .subjective-btn{
    margin-top: 14px;
  }
  .logical-btn{
    margin-top: 14px;
  }
  .test-box {
    width: 58%;
  }
  .modal{
    margin-left: 0px
  }
  .user-table thead tr th {
    font-size: 12px;
  }
  .heading{
    font-size: 19px !important;
  }
  .language-modal_outer {
    margin-left: 3rem;
  }
  .wrapper{
    margin-left: 0px;
  }
  .user-table tbody tr td:last-child {
    display: block !important;
  }
}